*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(39, 118, 121);
    color: white;
}

.login-container{
    height: 100vh;
    width:100%
}

.login-form{
    max-width: 100%;
    width:370px;
    padding:15px;
    margin: auto;
}

.login-form h1{
    font-size: 50px;
}

.form-control{
    font-size: 15px;
    min-height: 48px;
    font: weight 500;
    
}
.form-control:focus{
    border-color: white;
    box-shadow: 0 0 0 0.1rem rgba(238, 103, 110, 0.849);
}

.forget-link{
    font-size: 13px;
}

.forget-link label{
    margin-bottom: 0%;

}
.login-form a{
    text-decoration: none;
    color: rgb(236, 219, 219);
}

.login-form a:hover{
    color: rgb(187, 132, 241);
}

.btn-custom{
    background-color: rgb(29, 87, 163);
    color: white;
    font-size: 15px;
    min-height: 48px;
}
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
    background: #54229d;
    border-color: #54229d;
    color: white;
}

.btn-custom:focus{
    box-shadow: 0 0 0 0.1rem rgba(238, 103, 110, 0.849);
}

 